{
    "semi": true,
    "trailingComma": "es5",
    "singleQuote": true,
    "printWidth": 80,
    "tabWidth": 2,
    "useTabs": false,
    "overrides": [
        {
            "files": [
                "*.yml",
                "*.yaml"
            ],
            "options": {
                "tabWidth": 2,
                "useTabs": false,
                "singleQuote": false,
                "printWidth": 80
            }
        }
    ]
}